{
    "allowInsecureTLS" : true,
    "name": "connection_{{ cloud_idx }}",
    "orgID": "{{ influx_org_id }}",
    "remoteAPIToken": "{{ influx_token }}",
    "remoteURL": "http://{{ remote_influx_url }}:{{ remote_influx_port }}",
    "remoteOrgID": "{{ remote_influx_org_id }}"
}